
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aliceblue;
    color: red;
    font-size: 50px;
}
h1{
    text-align: center;
    color: red;
    font-size: 72px;
}
img{
    border-radius: 8px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}img:hover {
  transform: scale(1.1); /* Increase the size by 10% */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.list {
    font-size: 30px;
    font-weight: bold;
    color: black;
    list-style-position: inside;
}